* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    height: 600px;
    background: url(./asset/img/ha-long.jpg) no-repeat center/cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    background: rgba(20, 20, 20, 0.678);
    height: 60px;
}

.navbar #logo {
    color: rgb(221, 224, 40);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0 0 0 60px;

}

.navbar .nav-links ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    padding: 0 60px 0 0;
}

.navbar .nav-links ul li {
    list-style-type: none;
    margin: 0 30px;
}

header nav a {
    color: whitesmoke;
    font-size: 1.2rem;
    text-decoration: none;
}


/* Hamburger menu */



.reservation {
    position: absolute;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    /* height: 110px; */
    width: 65%;
    background: rgba(20, 20, 20, 0.678);
    border-radius: 5px;
    /* transform: translate(50%); */
    left: 17%;
}

.reservation input {
    margin: 20px;
    height: 35px;
    border-radius: 5px;
    border: none;
}

.reservation button {
    margin: 20px;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background: rgb(221, 224, 40);
    color: white;
    letter-spacing: 1px;
    font-weight: 700;
}

input::placeholder {
    text-align: center;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: rgba(0, 0, 0, 0.904);
}

.deroulement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.deroulement .number {
    font-size: 4rem;
    margin-top: 1px;
    margin-bottom: 1px;
    color: rgb(221, 224, 40);
    font-weight: 900;
    display: block;
}

.deroulement h3 {
    color: rgb(221, 224, 40);
    text-align: center;
}

.deroulement p {
    color: whitesmoke;
    margin: 10px 20px;
}

.der-1,
.der-2,
.der-3,
.der-4 {
    margin: 50px 20px 60px 20px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    border: 1px solid rgb(221, 224, 40);
    border-radius: 10px;
}

.about-us-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 25%;
}

.about-us-content p {
    margin: 20px 30px;
    color: whitesmoke;
}

.about-us {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 90px;
}

.img-about-us {
    width: 300px;
    height: 400px;
    margin: 10px;
}

.img-about-us img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us h2 {
    color: rgb(221, 224, 40);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.img-1 {
    grid-area: img-1;
}

.img-2 {
    grid-area: img-2;
}

.about-us-content {
    grid-area: content;
}

/* Carousel */

.swiper {
    width: 100%;
    padding: 50px 0;
    /* margin: 50px 0; */
    background: rgba(0, 0, 0, 0.904);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-flow: row wrap;
}

.title-carousel h2 {
    color: rgb(221, 224, 40);
    text-transform: uppercase;
    align-items: center;
    margin: 50px 0 100px 0;
}

.swiper-slide {
    position: relative;
    width: 320px;
    aspect-ratio: 3/4;
    border-radius: 14px;
    /* border: 1px solid rgb(221, 224, 40); */
    box-shadow: -15px 0px 13px -10px #000000, 10px 0px 13px -7px #000000, 0px 1px 1px -3px rgba(0, 0, 0, 0);

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    user-select: none;
}

.title {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -20%);
    width: max-content;
    text-align: center;
    padding: 10px 18px;
    background: rgb(46, 39, 39);
    border-radius: 8px;
    border: 1ps solid rgb(221, 224, 40);
    backdrop-filter: blur(10px);
    transition: all 0.5 linear;
}

.title span {
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
}

.swiper-pagination {
    --swiper-pagination-bottom: -6px;
    margin: 20px 0;

}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
    width: 32px;
    background-color: rgba(25, 43, 206, 1);
    border-radius: 14px;
    background-color: rgb(221, 224, 40);
}

@media screen and (max-width: 970px) {
    .nav-links {
        display: none;
    }

    .about-us {
        margin-top: 1px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "content content"
            "img-1 img-2";
    }

    .img-about-us {
        margin: auto;
        padding-bottom: 30px;
    }

    .about-us-content {
        width: 100%;
        padding: 0 30px;
    }

    .der-1,
    .der-2,
    .der-3,
    .der-4 {
        margin: 50px 20px 0 20px;
    }
}

@media screen and (max-width: 645px) {
    .about-us {
        margin-top: 1px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "content"
            "img-1"
            "img-2";
    }

    .about-us h2 {
        margin-top: 35px;
    }
}